<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile page</title>
</head>

<body>
    <%- include('common/header') %>
    <h1>
        Profile page
        Welcome <%= user.name %>
    </h1>
    <ul>
        <% user.skills.forEach((item)=>{ %>
        <li><%= item %></li>
        <% }) %>
    </ul>
</body>

</html>